# Node dependencies
/node_modules

# Build outputs
/.next
/out
/build

# Environment files (IMPORTANT: do not upload private keys)
/.env*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# OS / Editor files
.DS_Store
Thumbs.db

# Vercel deployment cache
.vercel

# TypeScript build info
*.tsbuildinfo
next-env.d.ts

# Testing output
/coverage

# Yarn / PNP / Package stores
.pnpm-store
.yarn/
.pnp
.pnp.*


